<div class="row padding_down padding_up">
  <div class="col-xs-offset-2 col-xs-8">
    <h1 class="title text-center">Create Your Story</h1>
  </div>
</div>

<% if @scene.errors.any? %>
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <ul class="list-group">
        <% @scene.errors.full_messages.each do |error| %>
          <li class="list-group-item"><h4 class="text-warning"><%= error %></h4></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <form method="POST" action="/stories/new" role="form">
      <div class="form-group">
        <textarea rows="10" cols="160" placeholder="Write story here" class="form-control" name="content"><%= @scene.content %></textarea>
      </div>

      <p class="text-primary">Suggestions 4 u lol: <%= five_random_trends.join(', ') %></p>
      
      <div class="form-group">
        <input type="text" placeholder="choice 1" class="form-control" name="choice1_text" value="<%= @scene.choice1_text %>" />
      </div>

      <div class="form-group">
        <input type="text" placeholder="choice 2" class="form-control" name="choice2_text" value="<%= @scene.choice2_text %>"/>
      </div>

      <button type="submit" class="btn btn-success">Create</button>
    </form>
  </div>
</div>

