<div class="row">
  <div class="col-xm-12">
    <h1 class="title text-center">Add Your Scene!</h1>
  </div>
</div>

<% if @scene.errors.any? %>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <% @scene.errors.full_messages.each do |error| %>
          <li class="list-group-item"><h4 class="text-warning"><%= error %></h4></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <form method="POST" action="/stories/<%= @story.id %>/scenes/<%= @source.id %>/new?choice=<%= @choice %>"
   role="form">
    <div class="form-group">
      <textarea rows="10" cols="160" placeholder="write story here" name="content"><%= @scene.content %></textarea>
    </div>
    
    <div class="form-group">
      <input type="text" placeholder="choice 1" class="form-control" name="choice1_text" value="<%= @scene.choice1_text %>" />
    </div>

    <div class="form-group">
      <input type="text" placeholder="choice 2" class="form-control" name="choice2_text" value="<%= @scene.choice2_text %>"/>
    </div>

   <button type="submit" class="btn btn-success">Submit</button>
  </form>

</div>