<div class="row padding_up padding_down">
  <div class="col-xm-12">
    <h1 class="title text-center">View Scene</h1>
  </div>
</div>

<br />

<% if @error_msg %>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-8">
      <div class="well well-md">
        <h3 class="text-warning text-center"><span class="glyphicon glyphicon-exclamation-sign"></span> <%= @error_msg %></h3>
      </div> 
    </div>
  </div>
<% else %>
  
  <div class="row">
    <div class="col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-8">
      <div class="well well-md">
        <p class="content"><%= @scene.content %></p>
      </div> 
    </div>
  </div>

  <div class="row">
        <div class="col-sm-offset-1 col-sm-7 col-md-offset-2 col-md-4">
      <% if @scene.scene1 %>
        <a href="/stories/<%= @story.id %>/scenes/<%= @scene.scene1.id %>">
          <div class="well well-sm">
            <h4 class="text-center"><%= @scene.choice1_text %></h4>
          </div>
        </a>
      <% else %>
        <a href="/stories/<%= @story.id %>/scenes/<%= @scene.id %>/new?choice=1">
          <div class="well well-sm">
            <h4 class="text-center"><%= @scene.choice1_text %></h4>
          </div>
        </a>
      <% end %>
    </div>

    <div class="col-md-4">
      <% if @scene.scene2 %>
        <a href="/stories/<%= @story.id %>/scenes/<%= @scene.scene2.id %>">
          <div class="well well-sm">
            <h4 class="text-center"><%= @scene.choice2_text %></h4>
          </div>
        </a>
      <% else %>
        <a href="/stories/<%= @story.id %>/scenes/<%= @scene.id %>/new?choice=2">
          <div class="well well-sm">
            <h4 class="text-center"><%= @scene.choice2_text %></h4>
          </div>
        </a>
      <% end %>
    </div>
  </div>


  <br />
<% end %>