
<div class="row padding_up">
  <div class="col-md-12">
    <h1 class="title lobster">Story Path <small>Collaborate on stories with random people</small></h1>
  </div>
</div>


<div class="row">
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4 padding_down center">
    <h2>Start a story</h2> 
    <a href="/stories/new">
      <img src="../images/pencil.png" />
    </a>
  </div>

  <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4 padding_down center">
    <h2>Share a story</h2> 
    <a href="/stories/new">  
      <img src="../images/news.png" />
    </a>
  </div>

  <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4 padding_down center">
    <h2>Watch it grow!</h2>     
    <a href="/stories/new">
      <img src="../images/guestbook.png" />
    </a>
  </div>
</div>


<% @stories.each do |story| %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="well well-md">
      <p class="read-more content"><%= story.scenes.first.content %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <% if story.scenes.first.scene1 %>
    <a href="/stories/<%= story.id %>/scenes/<%= story.scenes.first.scene1.id %>"> 
      <div class="well well-sm">
        <h4 class="text-center read-more"><%= story.scenes.first.choice1_text %></h4>
      </div>
    </a>
    <% else %>
    <a href="/stories/<%= story.id %>/scenes/<%= story.scenes.first.id %>/new?choice=1">
      <div class="well well-sm">
        <h4 class="text-center read-more"><%= story.scenes.first.choice1_text %></h4>
      </div>
    </a>
    <% end %>
  </div>

  <div class="col-md-offset-0 col-md-4">
    <% if story.scenes.first.scene2 %>
    <a href="/stories/<%= story.id %>/scenes/<%= story.scenes.first.scene2.id %>"> 
      <div class="well well-sm">
        <h4 class="text-center read-more"><%= story.scenes.first.choice2_text %></h4>
      </div>
    </a>
    <% else %>
    <a href="/stories/<%= story.id %>/scenes/<%= story.scenes.first.id %>/new?choice=2">
      <div class="well well-sm">
        <h4 class="text-center read-more"><%= story.scenes.first.choice2_text %></h4>
      </div>
    </a>
    <% end %>
  </div>
</div>

<br />
<% end %>
