<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="<%= url('stylesheets/bootstrap.css')%>" rel="stylesheet" />
  <link href="<%= url('stylesheets/bootstrap-theme.css')%>" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="<%= url('stylesheets/stylesheet.css')%>"/>
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Basic' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">  

    <div class="container">

      <div class="navbar-header">
        
        <a href="/" class="navbar-brand title-type">Story Path</a> 
        
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

          <span class="sr-only">Toggle navigation</span>

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>        

        </div>

        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav">
            
            <li><a href="/stories">Browse Stories</a></li>
            <li><a href="/stories/new">Create</a></li>         
            
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <% if logged_in? %>
            <li><a class="" href="">Welcome, <%= get_user.user_name %></a></li>
            <li><a class="" href="/logout">Logout</a></li>

            <% else %>
            <form method="POST" action="/login" role="form" class="navbar-form">

              <div class="form-group">
                <input type="text" placeholder="Username" class="form-control" name="user_name"/>
              </div>

              <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" name="password" />
              </div>

              <button type="submit" class="btn btn-success">Log In</button>
              <a href="/users/new" class="btn btn-success">Sign up</a>

            </form>
            <% end %>
          </ul>
        </div>   
      </div>    
    </div>

    <section class="container">
      <%= yield %>   
    </section>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="<%= url('javascript/bootstrap.min.js')%>"></script>
  <script src="<%= url('javascript/bower_components/readmore/readmore.min.js')%>"></script>
  <script>

    $(document).ready(function() {
      $('.read-more').readmore({
        collapsedHeight: 140,
        speed: 500,
        moreLink: '<a href="#">Read more</a>',
        lessLink: '<a href="#">Read less</a>'
      });
    });

  </script>

  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-63390385-1', 'auto');
   ga('send', 'pageview');
  </script>

</body>

</html>

